/**
  注：该样式为全局变量内容
  即：全局变量都应该通过该样式引用
*/


:root {
  --font-color: #313131;
  --gray-1: #e8e8e8;
  --gray-2: #efefef;
  --gray-3: #f8f8f8;

  --box-shadow-small: 1px 3px 10px 0px #727272aa, 1px 0px 14px 0px #727272cc;
  --box-shadow-1: 1px 3px 10px 0px #72727288, 1px 0px 14px 0px #727272cc;
  --box-shadow-2: 1px 1px 4px rgba(0, 0, 0, 0.07), 0 1px 4px rgba(0, 0, 0, 0.07), 0 1px 4px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.08);
}